@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000000;
  --background-start-hex: #ffffff;
  --background-end-hex: #fdedd3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #ffffff;
    --background-start-hex: #000000;
    --background-end-hex: #000000;
  }
}

html {
  color: var(--foreground-hex);
  background: linear-gradient(to bottom, transparent, var(--background-end-hex))
    var(--background-start-hex);
}
